<h1>Submit Posts</h1>
<div>
  <%= form_for(@post) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
    <p>
    <%= f.submit "Submit my post" , class: "btn btn-primary"%>
  <% end %>
</div>
